body{
    background-color: #e0ffff;
    color: #4c4c4c;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
h1,h2,h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h2
{
    border-bottom:1px dotted #4c4c4c;
    padding-bottom:3px;
    margin-left: 200px;
    margin-right: 200px;
}
p {
    text-align: left;
    margin: auto;
    width: 50%;
    padding: 20px;
}
/* List styling */
ul,ol{
    text-align: left;
    width: 50%;
    margin: auto; 
}


/* link styling */
a:hover{
    color: #00008b;
}
a:active{
    color:#0000ff;
}
a{
    text-decoration: none;
    color: #4c4c4c;

}
/*img styling */
img, .recipe-flex{
    height: auto; 
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* FLEX-BOX CODE For Links */
.flex-container{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}
.index-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }

  .index-li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    height: 120px;
    text-align: center;
  }
  /* FLEXBOX LINKS for Recipe Images */
  .flex-2{
    display: flex;
    background-color: #afcece;
    justify-content: center;
  }
  .recipe-flex {
    width: 30%;
    height: auto;
    margin: 10px;
  }